@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-color: #0070f3;
  --black-color: #000;
  --white-color: #fff;
  --icon-travel: #5f6368;
  --icon-message-travel: #d56e0c;
  --control-form-color: #d9d9d9;
  --error-message-form-color: #ff0000;

  --text-font-family: "Lato", sans-serif;
  --title-font-family: "Montserrat", sans-serif;
  --button-font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**********************
* Titles
**********************/
h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

h3 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

h6 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

/**********************
* Container
**********************/
.container-small {
  max-width: 992px;
  margin: 0 auto;
}

/**********************
* Forms
**********************/
.form-group {
  /* margin-bottom: 8px; */
}
.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black-color);
  background-color: var(--white-color);
  background-image: none;
  border: 1px solid var(--control-form-color);
  border-radius: 0.25rem;
  padding: 0 0.625rem;
  height: 42px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus() {
  outline: 0;
  border-color: var(--blue-color);
}
.message-error {
  display: none;
  color: var(--error-message-form-color);
  font-size: 10px;
  margin-top: 1px;
}
.message-error.error {
  display: block;
}
.form-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--black-color);
}

/**********************
* Form control radio
**********************/
.form-control-radio {
  display: flex;
}
.form-control-radio input[type="radio"] {
  display: none;
}
.form-control-radio label[for="opt-return-date"],
.form-control-radio label[for="opt-departure-date"] {
  margin-right: 10px;
}
.form-control-radio .form-label {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid lightgrey;
  transition: all 0.3s ease;
}
.form-control-radio .form-control-radio__dot {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: var(--control-form-color);
  border-radius: 50%;
  margin-right: 8px;
}
.form-control-radio .form-control-radio__dot::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.form-control-radio
  input[id="opt-departure-date"]:checked:checked
  ~ label[for="opt-departure-date"],
.form-control-radio
  input[id="opt-return-date"]:checked:checked
  ~ label[for="opt-return-date"] {
  border-color: #0069d9;
  background: #0069d9;
}
.form-control-radio
  input[id="opt-departure-date"]:checked:checked
  ~ label[for="opt-departure-date"]
  .form-control-radio__dot,
.form-control-radio
  input[id="opt-return-date"]:checked:checked
  ~ label[for="opt-return-date"]
  .form-control-radio__dot {
  background: #fff;
}
.form-control-radio
  input[id="opt-departure-date"]:checked:checked
  ~ label[for="opt-departure-date"]
  .form-control-radio__dot::before,
.form-control-radio
  input[id="opt-return-date"]:checked:checked
  ~ label[for="opt-return-date"]
  .form-control-radio__dot::before {
  opacity: 1;
  transform: scale(1);
}

.form-control-radio
  input[id="opt-departure-date"]:checked:checked
  ~ label[for="opt-departure-date"]
  span,
.form-control-radio
  input[id="opt-return-date"]:checked:checked
  ~ label[for="opt-return-date"]
  span {
  color: #fff;
}

/**********************
* Form control dropdown
**********************/
.form-control-dropdown {
  position: relative;
}
.dropdown {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 10px;
  border: 1px solid lightgrey;
  /* transition: all 0.3s ease; */
}
.dropdown:active,
.dropdown:focus,
.dropdown:target {
  outline: 2px solid var(--blue-color);
}
.dropdown .label {
  font-size: 12px;
  padding: 0 2px;
}
.dropdown span {
  vertical-align: middle;
}
.dropdown-content {
  display: none;
  cursor: pointer;
  background-color: var(--white-color);
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid lightgrey;
  transition: all 0.3s ease;
  min-width: 246px;
  position: absolute;
  top: 102%;
  z-index: 2;
}
.dropdown-content.show {
  display: block;
}
.dropdown-content label {
  font-size: 11px;
}

/********************** 
* Buttons
**********************/
.btn {
  color: var(--control-form-color);
  display: inline-block;
  padding: 0.625rem 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  border: 1px solid var(--control-form-color);
  border-radius: 24px;
}
.btn:hover {
  opacity: 0.8;
}
.btn strong {
  vertical-align: middle;
}
.btn span,
.btn em {
  margin-right: 4px;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
/* btn search */
.btn.btn-search {
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  color: var(--white-color);
}
.btn.btn-search em {
  display: none;
}
.btn.btn-search.btn-loading em {
  display: inline-block;
}
.btn.btn-search.btn-loading span {
  display: none;
}
/* btn disabled */
.btn[disabled="disabled"] {
  background-color: var(--control-form-color);
  border: 1px solid var(--control-form-color);
}

/**********************
* List Flight
**********************/
.list-flight {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 8px;
}
.list-flight .card-flight:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.list-flight .card-flight:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.list-flight .link-return-page {
  color: var(--blue-color);
}

/**********************
* Card
**********************/
.card {
  background-color: var(--white-color);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/**********************
* Card Border
**********************/
.card-message {
  background-color: var(--white-color);
  border: 1px solid var(--control-form-color);
  border-radius: 4px;
  margin-top: 32px;
  display: flex;
  align-items: center;
}
.card-message .card-message__icon {
  padding-right: 12px;
  color: var(--icon-message-travel);
}
.card-message .card-message__text {
  font-size: 14px;
}
.card-message .card-message__link {
  color: var(--blue-color);
}

/**********************
* Card Flight
**********************/
.card-flight {
  border: 1px solid var(--control-form-color);
  padding: 1rem 4rem 1rem 1rem;
  position: relative;
  margin-bottom: -1px;
}
.card-flight__image {
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-flight__luggage .material-icons {
  font-size: 24px;
  color: var(--icon-travel);
}
.card-flight__luggage span {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  vertical-align: middle;
}
.card-flight__dropdown {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.card-flight__dropdown .material-icons {
  font-size: 28px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}
.card-flight__dropdown:hover .material-icons {
  background-color: var(--control-form-color);
}
.card-flight__image span {
  font-size: 2rem;
}
.card-flight__hours span {
  font-size: 14px;
}
.card-flight__hours p {
  font-weight: 600;
}

/**********************
* Card Flight Detail
**********************/
.card-flight-detail {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 8px;
  border: 1px solid var(--control-form-color);
  border-radius: 8px;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  margin-bottom: -1px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.card-flight-detail .card-flight-detail__image {
  width: 100px;
  align-self: flex-start;
}
.card-flight-detail .card-flight-detail__image img {
  max-height: 20px;
  margin-top: 4px;
}
.card-flight-detail .card-flight-detail__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
.card-flight-detail .card-flight-detail__split {
  width: 120px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.card-flight-detail .card-flight-detail__split div {
  background-color: var(--control-form-color);
  display: block;
  width: 100%;
  height: 2px;
  position: relative;
}
.card-flight-detail .card-flight-detail__aircraft {
    position: absolute;
    right: 50%;
    top: -16px;
    transform: rotate(90deg) translate(0, -50%);
    color: var(--icon-travel);
}
.card-flight-detail .card-flight-detail__total {
  text-align: center;
}
.card-flight-detail .card-flight-detailt__numflight {
  width: 100%;
  font-size: 14px;
}

/**********************
* Search flight
**********************/
.search-flight {
  margin-top: -240px;
  position: relative;
  z-index: 10;
}
.search-flight h2 {
  color: var(--white-color);
}

/**********************
* Icon return
**********************/
.icon-return {
  background-color: var(--blue-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--white-color);
  border-radius: 50%;
}
.icon-return:hover {
    opacity: 0.8;
}

/**********************
* Banner
**********************/
.banner-z {
  position: relative;
}
.banner-z h2 {
  position: relative;
  z-index: 2;
  color: var(--white-color);
}
.banner-z::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner-z__content {
  height: 260px;
}

@media screen and (min-width: 1024px) {
  .banner-z__content {
    height: 280px;
  }
}

/**********************
* Header Navigation
**********************/
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

/**********************
* React Select
**********************/
.form-control-select div[class*="ValueContainer"] {
  height: 42px;
}

/**********************
* Flatpickr
**********************/
.form-flatpickr {
  position: relative;
}
.form-flatpickr .form-control {
  padding: 0 2.25rem 0 0.625rem;
}
.form-flatpickr .form-flatpickr__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.form-flatpickr .form-flatpickr__icon .material-icons {
  color: #cbcbcb;
}

/**********************
* Sweetalert2
**********************/
.swal-content .swal2-actions {
  width: 100%;
  justify-content: flex-end;
}
.swal-content .swal2-popup {
  padding: 1rem 1rem;
}
.swal-content .swal2-confirm.swal2-styled {
  background-color: var(--blue-color);
  color: var(--white-color);
}

/**********************
* Loading
**********************/
.loading {
  width: 50px;
  height: 50px;
  border-top-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
}

/**********************
* 
**********************/
.widthout-result-img img {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}
