@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-color: #0070f3;
  --black-color: #000;
  --white-color: #fff;
  --icon-travel: #5f6368;
  --control-form-color: #d9d9d9;
  --error-message-form-color: #ff0000;

  --text-font-family: "Lato", sans-serif;
  --title-font-family: "Montserrat", sans-serif;
  --button-font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**********************
* Titles
**********************/
h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

h3 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

h6 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

/**********************
* Forms
**********************/
.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black-color);
  background-color: var(--white-color);
  background-image: none;
  border: 1px solid var(--control-form-color);
  border-radius: 0.25rem;
  padding: 0 0.625rem;
  height: 42px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus() {
  outline: 0;
  border-color: var(--blue-color);
}

.message-error {
  display: none;
  font-size: 12px;
  color: var(--error-message-form-color);
}
.message-error.error {
  display: block;
}

/**********************
* Buttons
**********************/
.btn {
  color: var(--control-form-color);
  display: inline-block;
  padding: 0.625rem 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  border: 1px solid var(--control-form-color);
  border-radius: 24px;
}
.btn:hover {
  opacity: 0.8;
}
.btn strong {
  vertical-align: middle;
}
.btn span {
  margin-right: 4px;
}
.btn.btn-block {
    display: block;
    width: 100%
}
/* btn search */
.btn.btn-search {
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  color: var(--white-color);
}

/**********************
* Card
**********************/
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/**********************
* List Flight
**********************/
.list-flight .card-flight:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.list-flight .card-flight:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/**********************
* Card Flight
**********************/
.card-flight {
  border: 1px solid var(--control-form-color);
  padding: 1rem 4rem 1rem 1rem;
  position: relative;
  margin-bottom: -1px;
}
.card-flight__image {
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-flight__luggage .material-icons{
    font-size: 24px;
    color: var(--icon-travel);
}
.card-flight__luggage span {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
}
.card-flight__dropdown {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.card-flight__dropdown .material-icons {
    font-size: 28px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 48px;
}
.card-flight__dropdown:hover .material-icons {
    background-color: var(--control-form-color);
}
.card-flight__image span {
    font-size: 2rem;
}
.card-flight__hours span {
    font-size: 14px;
}
.card-flight__hours p {
    font-weight: 600;
}

/**********************
* Banner
**********************/
.banner-z {
  position: relative;
}
.banner-z h2 {
  position: relative;
  z-index: 2;
  color: var(--white-color);
}
.banner-z::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner-z__content {
  height: 260px;
}

@media screen and (min-width: 1024px) {
  .banner-z__content {
    height: 280px;
  }
}

/**********************
* React Select
**********************/
.form-control-select div[class*="ValueContainer"] {
  height: 42px;
}
